{% extends 'base.html' %}
{% block content %}

<h1> Trip Assistant </h1>

<p>
    In a new place but don't know what to do? Let Trip Assistant decide!
</p>

<p>
    You can get recommendations of all the top rated things to see, do and eat by city.
</p>
<p>
    Check them out on Yelp, or save them for future reference. 
</p>
<p>
    The more you save, the better the recommendations get.
</p>
<p>
    Take the stress out of travel by letting Trip Assistant do the searching for you!
</p>

{% endblock%}