{% extends 'base.html' %}
{% block content %}

<script src="https://code.jquery.com/jquery.js"></script>
<link rel="stylesheet" href="/static/loader.css">

<div class="page_head">
  <h2> Your trip to <span id="trip_location">{{ trip.location }}</span></h2>
  <span id="trip_id" style="display: none;">{{ trip.trip_id }}</span>
</div>

<div class="trip_recs">
  <div class="saved_restaurant_recs">
    {% if trip.restaurants %}
      Your saved restaurant recommendations:
      <br>
      <ul class="rest_list">
        {% for restaurant in trip.restaurants %}
          {% if restaurant.trip_assoc[0].rec_value == 3 %}
            <li>
              <a href='{{ restaurant.yelp }}' target="_blank">{{ restaurant.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      You don't currently have any restaurants recommendations
    {% endif %}
  </div>
  <br>
  <div class="saved_activity_recs">
    {% if trip.activities %}
      Your saved activity recommendations:
      <br>
      <ul class="act_list">
        {% for activity in trip.activities %}
          {% if activity.trip_assoc[0].rec_value == 3 %}
            <li>
              <a href='{{ activity.yelp }}' target="_blank">{{ activity.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      You don't currently have any activity recommendations
    {% endif %}
  </div>
</div>

<br>

<span class="rec_head"><b>Get trip recommendations:</b></span>

<br>
<br>

<div id="loadingDiv">
  <br>
  <div class="cssload-main">
    <div class="cssload-heart">
      <span class="cssload-heartL"></span>
      <span class="cssload-heartR"></span>
      <span class="cssload-square"></span>
    </div>
    <div class="cssload-shadow"></div>
  </div>
</div>

<p>
  <button class="btn" id="restaurant_rec_button">
    Recommend restaurants!
  </button>
</p>

<div id="rest_rec_results"></div>
<span id="rest_business_id" style="display: none;"></span>

<br>

<div class="button-rec-data" id="rest-buttons">
  <button class="rest_rec_feedback" id="love-rest" data-rec-val="3">
    Love this rec, save it!
  </button>
  <button class="rest_rec_feedback" id="meh-rest" data-rec-val="2">
    Unsure, pass for now
  </button>
  <button class="rest_rec_feedback" id="dislike-rest" data-rec-val="1">
    No thanks, not my style
  </button>
</div>

<span id="rest_rec_saved" style="display: none;">Your feedback has been saved</span>

<br>

<p>
  <button class="btn" id="activity_rec_button">
    Recommend activities!
  </button>
</p>

<div id="act_rec_results"></div>
<span id="act_business_id" style="display: none;"></span>

<br>

<div class="button-rec-data" id="act-buttons">
  <button class="act_rec_feedback" id="love-act" data-rec-val="3">
    Love this rec, save it!
  </button>
  <button class="act_rec_feedback" id="meh-act" data-rec-val="2">
    Unsure, pass for now
  </button>
  <button class="act_rec_feedback" id="dislike-act" data-rec-val="1">
    No thanks, not my style
  </button>
</div>
<span id="act_rec_saved" style="display: none;">Your feedback has been saved</span>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/trip_assistant.js"></script>

{% endblock %}
