{% extends 'base.html' %}
{% block content %}

<br>

<h2> {{ user.username }}'s Profile </h2>

<h3> Your trips: </h3>

{% if user.trips %}

  <ul>
    {% for trip in user.trips %}
      <li>
          <a href='/trip_profile/{{ trip.trip_id }}/{{ trip.location }}'>Your {{ trip.location }} trip for {{ trip.days }} days </a>
      </li>
    {% endfor %}
  </ul>

{% endif %} 


<h3> <a href='/add_trip'>Add a trip </a></h3>

<!-- <h3> Get a recommendation! </h3>  -->


<!-- Add in last link once set up -->

{% endblock%}